h4{
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}
h3{
    text-align: center;
    font-size: 17px;
    font-weight: bold;  
}
.location{
    margin-left: 10px;
}
.dashedline{
    margin-left: 50%;
    border-left:3px dashed #000;
height: 10%;
}
.button{
    text-align: center;
    width: 100%;
}