$primarycolor: #DB4141;

.createprofilepage{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    .upper{
        flex:1;
        padding: 15px;
        display: flex;
        flex-direction: column;
        .logo{
            display: flex;
            justify-content: center;
            padding: 5% 0;
            .logo-img{
                max-width: 209px;
                width: 60%;
            }
        }
        h1{
            font-size: 18px;
            color: $primarycolor;
            padding: 5% 0 0 1%;
        }
        .form {
            flex: 1;
            display: flex;
            justify-content: center;
            padding: 5% 0 0 0;
            .form-group {
                .input-group{

                    .input {
                        flex: 1;
                    }

                    .input-botton {
                        margin-top: 15px;
                    }
                }
            }
        }
    }
    .lower{
        padding: 15px;
        padding-bottom: 30px;
        text-align: center;
        strong {
            color: $primarycolor;
        }
    }
}

.page-payment-method {
    color: #fff;
    .payment-option {
        input[type="radio"] {
            display: none;

            &:checked~label .tick {
                display: flex;
            }
        }

        label {
            width: 80%;
            height: 80px;
            padding: 5px 10px;
            text-align: center;
            border-radius: 10px;
            background: rgba(238, 238, 238, 0.51);
            position: relative;
            cursor: pointer;
            overflow: hidden;
            justify-content: center;
            align-items: center;

            .tick {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                z-index: 1;
                background-color: rgba(255, 0, 0, 0.5);
                display: none;

                &:after {
                    content: "";
                    width: 15px;
                    height: 30px;
                    margin: auto auto;
                    border: solid white;
                    border-width: 0 5px 5px 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                    display: flex;
                }
            }
        }
    }

    .payment-method {
        display: flex;
        flex-direction: column;
        width: 100%;

        .title {
            margin: 20px 0;
        }

        .inner-sign {
            flex: 1;
        }

        .container {
            margin: 0 auto;
        }

        .form-control:focus {
            border-color: transparent;
            box-shadow: none;
        }

        .form-group {
            margin-bottom: 1rem;
        }

        form {
            margin: 10px auto 0;
            max-width: 500px;
            width: 100%;
            text-align: center;
        }

        .logo img {
            width: 280px;
            object-fit: contain;
        }

        p {
            color: #fff;
            text-align: center;

            b {
                color: #fff;
            }
        }

        input,
        select {
            font-size: 15px !important;
            width: 100%;
            border-radius: 10px;
            border: none;
            box-shadow: none;
            text-align: center;
            height: 45px;
            padding: 10px 10px;
            border: 2px solid #dbdbdb !important;
        }

        #date-input {
            color: $primarycolor;
        }
    }
}