.errors{
    margin: 141px 59px 24px 73px;
}
h5{
    font-size: 26px;
    text-align: center;
    font-weight: bold;
}
.btn{
    text-align: center;
    width: 100%;
}
ion-button{
    --background: red;
    font-size: 17px;
    font-weight: bold;
}
ion-row{
    border-bottom: 1px solid #ccc;
    margin: 10px;
}