.first{
    justify-content: space-evenly;
    width: 70%;
    display: flex;
}
.secound{
    width: 50%;
    text-align: right;
    margin-right: 8%;
}
p{
    margin: 10px 0px 6px 3px !important;
}
[col-4]{
    height:100px !important;
}
.call{
    text-align: center;
    position: absolute;
    z-index: 999;
    top: -12px;
    left: 50%;
    img{
        height: 27px;
    }
}
.main{
    padding: 10px;
}
ion-button{
    --background: #cb1616;
    --border-radius: 4px;
    height: 35px;
}
.btn{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.name{
    font-size: 13px;
    font-weight: bold;
}
.mobile{
    font-size: 13px;
    font-weight: bold;
}
h5{
    font-weight: bold;
    font-size: 15px;
}
h6{
    font-size: 10px;
    font-weight: bold; 
}
ion-card{
    height: 100%;
    padding: 10px;
    width: 100%;
    margin: 0px;
}
