ion-title{
    text-align: center;
}
h2 {
    width: 100%;
    margin-top: 18px;
    font-size: 36px;
    text-align: center;
    font-weight: bold;
}
h5{
    font-size: 20px;
    width: 100%;
    font-weight: bold;
    text-align: center;
}
.sc-ion-input-ios-h{
    border-bottom: 2px solid #ccc;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 2px;
}
.sc-ion-input-md-h{
    border-bottom: 2px solid #ccc;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 2px;
}

ion-button{
    width: 60%;
    margin-top: 9%;
}