<ion-content>
  <div class="forgetpage">
    <div class="upper">
      <div class="logo">
        <img class="logo-img" src="assets/images/logo.png" />
      </div>
      <form class="form"  [formGroup]="forgetpassword">
        <div class="form-group ">
          <div class="input-group">
            <div class="icon">
              <i class="fas fa-phone-square-alt"></i>
            </div>
            <div class="input">
              <input type="tel" formControlName="mobile" placeholder="Mobile"/>
            </div>
          </div>
          <div class="input-group">
            <div class="input-botton">
              <button class="btn btn-primary" (click)="sendOTP()">Send OTP</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="lower">
      <span (click)="goBack()">if you already have any account <strong>Sign in</strong></span>
    </div>
  </div>
</ion-content>
